<h1>Citazioni</h1>

<table>
  <tr>
    <th>Film</th>
    <th>Data e ora</th>
    <th>Citazione</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.user_id %></td>
    <td><%= comment.date_time.to_formatted_s(:long) %></td>
    <td><%= comment.comment %></td>
    <td><%= link_to 'Mostra', comment %></td>
    <td><%= link_to 'Modifica', edit_comment_path(comment) %></td>
    <td><%= link_to 'Elimina', comment, confirm: 'Are you sure?', method: :delete %></td>
    <% @comments.sort_by! {comment.date_time}%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuova citazione', new_comment_path %>
