<p id="notice"><%= notice %></p>

<p>
  <b>Foto:</b>
  <%= @comment.photo_id %>
</p>

<p>
  <b>Film:</b>
  <%= @comment.user_id %>
  
  <% userlink = @creator.first_name%>
  <%= link_to( userlink, @creator) %>
  
  
</p>

<p>
  <b>Data e ora:</b>
  <%= @comment.date_time %>
</p>

<p>
  <b>Citazione:</b>
  <%= @comment.comment %>
</p>


<%= link_to 'Modifica', edit_comment_path(@comment) %> |
<%= link_to 'Indietro', comments_path %>
