<h1>Perle di vita</h1>

<table>

<% @perlas.each do |perla| %>
  <tr>
      <td><%= link_to(perla.first_name, perla)%></td>
      <td><%= link_to 'Modifica', edit_perla_path(perla) %></td>
      <td><%= link_to 'Elimina', perla, confirm: 'Sei sicuro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<hr>
<%= link_to 'Nuovo autore di perle', new_perla_path %>

<br>
<br>

<%= link_to('Tutte le citazioni', comments_path)%>




