<p id="notice"><%= notice %></p>

<h2>
<%= @user.first_name %> 
</h2>

<% @userphotos.each do |photo| %>
<div>
<%= image_tag(photo.file_name) %>
<p>
<%= photo.date_time  %>
</p>
 <hr>
</div>
 <% end %>
 
 <% pcomments = @user.comments %>
 <ul>
  <% pcomments.each do |comment| %>
  <li>
  <%= comment.comment %>
  <br/>
  <% commentor = comment.user %>
  <% userlink = commentor.first_name %>
  <%= link_to( userlink, commentor) %>
  on
  <%= comment.date_time %>

  </li>
  <%end%>
  </ul> 


<%= link_to 'Nuova citazione', new_comment_path %>
<hr>
<%= link_to 'Modifica', edit_user_path(@user) %> |
<%= link_to 'Indietro', users_path %>

