<p id="notice"><%= notice %></p>

<p>
  <b>Film:</b>
  <%= @photo.user_id %>
</p>

<p>
  <b>Data e ora:</b>
  <%= @photo.date_time %>
</p>

<p>
  <b>Nome del file:</b>
  <%= @photo.file_name %>
</p>

<p>
<%= image_tag(@photo.file_name) %> 
 </p>
 
 <ul>
 <% @photocomments.each do |comment| %>
 <li>
 <%= comment.comment %>
 </li>
 <%end%>
 </ul>
 
 

<%= link_to 'Modifica', edit_photo_path(@photo) %> |
<%= link_to 'Indietro', photos_path %>
