<%= form_for(@citazione) do |f| %>
  <% if @citazione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citazione.errors.count, "error") %> prohibited this citazione from being saved:</h2>

      <ul>
      <% @citazione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :autore %><br />
    <%= f.number_field :id %>
  </div>
 
  <div class="field">
    <%= f.label :data_e_ora %><br />
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :perla %><br />
    <%= f.text_area :citazione %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
