<!DOCTYPE html>
<html>
<head>
  <title>Quotebook</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<h2> <% userlink = "quotebook"%>
    <%= link_to(userlink, users_path, :style => 'color:#ffffff;text-decoration:none;')%></h2>
by Micol Di Segni
</div>

<%= yield %>

</body>
</html>
